# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/tina/0f1406e6b8ea529f581b812b08ee9f2a3ef066d7.gif

public/margot/922d2dd4cf325820ed4dcaaafd55ecbe0ff6fa38.gif
public/yuki/e9cd2fe6e221aa371223af4270d03b8ab02a80a3.gif
public/wos/258b80446d210a2299e99127c479da92763b3af2.gif
